aiohttp==3.7.4
anyio==3.6.2
async-timeout==3.0.1
attrs==23.1.0
blinker==1.6.2
certifi==2023.5.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
cryptography==40.0.2
fastapi==0.95.1
Flask-Pydantic==0.11.0
Flask==2.3.2
googleapis-common-protos==1.59.0
grpcio==1.54.2
h11==0.14.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
MarkupSafe==2.1.2
multidict==6.0.4
numpy==1.24.3
packaging==23.1
pandas==2.0.1
pip==23.1.2
protobuf==3.20.3
pycparser==2.21
pydantic==1.10.7
PyJWT==2.7.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.30.0
scikit-learn==1.2.2
scipy==1.10.1
setuptools==65.5.1
six==1.16.0
sniffio==1.3.0
starlette==0.26.1
threadpoolctl==3.1.0
typing-extensions==4.5.0
tzdata==2023.3
urllib3==2.0.2
uvicorn==0.22.0
waitress==2.1.2
Werkzeug==2.3.4
wheel==0.40.0
yandexcloud==0.212.0
yarl==1.9.2
ydb==3.3.1
